<md-toolbar class="md-primary md-hue-1" hide-xs hide-sm hide-md>
  <div class="md-toolbar-tools">
    <a ng-if="mainOptions.siteLogo != null" href="{{mainOptions.baseurl}}"><img class="navbarLogo" ng-src="{{mainOptions.siteLogo}}"/></a>
    <a href="{{mainOptions.baseurl}}" class="brand">{{mainOptions.website}}</a>
    <span flex ng-if="topic.topicTitle" class="toolbarTitle">{{topic.topicTitle}}</span>
    <span flex ng-if="!topic.topicTitle" class="toolbarTitle">
      <md-button ui-sref="main.home"><md-icon class="material-icons">forum</md-icon> Recent</md-button>
      <md-button ui-sref="main.new"><md-icon class="material-icons">clear_all</md-icon> New</md-button>
      <md-button ui-sref="main.channels"><md-icon class="material-icons">widgets</md-icon> Channels</md-button>
      <md-button ui-sref="main.users"><md-icon class="material-icons">group</md-icon> Users</md-button>
      <md-button ui-sref="main.search"><md-icon class="material-icons">search</md-icon> Search</md-button>
    </span>
    <div ng-if="mainOptions.homePage != -2">
      <md-button hide-xs hide-gt-xs show-gt-md ng-if="authenticated != true" ng-click="authDialog($event)" ng-href="">Sign In/ Sign Up</md-button>
      <md-menu ng-if="authenticated == true" hide-xs hide-gt-xs show-gt-md md-offset="0 52" md-position-mode="target-right target">
        <md-button ng-href="" aria-label="Open Menu" ng-click="openMenu($mdOpenMenu,$event)" class="userName">{{currentUser.name}} <img class="avatarImage" src="{{currentUser.avatar}}"/></md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="showProfile($event, currentUser.name)"><md-icon class="materials-icon">person_outline</md-icon> My Profile</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="editProfileDialog($event)"><md-icon class="materials-icon">settings</md-icon> Settings</md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button ng-click="signOut()"><md-icon class="materials-icon">exit_to_app</md-icon> Sign Out</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
</md-toolbar>

<md-toolbar class="md-primary md-hue-1 footerMenu" hide-gt-md>
  <div class="md-toolbar-tools">
    <md-button flex class="md-cornered" ui-sref="main.home"><md-icon class="material-icons">home</md-icon></md-button>
    <md-button flex class="md-cornered" ng-click="authDialog($event);" ng-if="authenticated != true"><md-icon class="material-icons">person_add</md-icon></md-button>
    <md-button flex class="md-cornered" ng-click="userMenu();" ng-if="authenticated == true"><md-icon class="material-icons">person</md-icon></md-button>
    <md-button flex class="md-cornered" ng-click="footerMenu();"><md-icon class="material-icons">menu</md-icon></md-button>
  </div>
</md-toolbar>

<script type="text/ng-template" id="footerMenu.html">
  <md-bottom-sheet class="md-list" ng-cloak>
    <md-toolbar class="md-primary md-hue-1">
      <div class="md-toolbar-tools" layout-margin>
        <span flex></span>
        <a ng-if="mainOptions.siteLogo != null" href="{{mainOptions.baseurl}}"><img class="navbarLogo" ng-src="{{mainOptions.siteLogo}}"/></a>
        <a href="{{mainOptions.baseurl}}index.html" class="brand">{{mainOptions.website}}</a>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-list>
      <md-list-item ui-sref="main.home" ng-click="closeSheet()">
        <md-icon class="material-icons">forum</md-icon>
        <p>Recent</p>
      </md-list-item>
      <md-list-item ui-sref="main.new" ng-click="closeSheet()">
        <md-icon class="material-icons">clear_all</md-icon>
        <p>New</p>
      </md-list-item>
      <md-list-item ui-sref="main.channels" ng-click="closeSheet()">
        <md-icon class="material-icons">widgets</md-icon>
        <p>Channels</p>
      </md-list-item>
      <md-list-item ui-sref="main.users" ng-click="closeSheet()">
        <md-icon class="material-icons">group</md-icon>
        <p>Users</p>
      </md-list-item>
      <md-list-item ui-sref="main.search" ng-click="closeSheet()">
        <md-icon class="material-icons">search</md-icon>
        <p>Search</p>
      </md-list-item>
  </md-bottom-sheet>
</script>

<script type="text/ng-template" id="userMenu.html">
  <md-bottom-sheet class="md-list" ng-cloak>
    <md-toolbar class="md-primary md-hue-1">
      <div class="md-toolbar-tools">
        <span flex></span>
        <div class="userName">{{currentUser.name}} <img class="avatarImage" src="{{currentUser.avatar}}"/></div>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-list>
      <md-list-item ng-click="showProfile($event, currentUser.name)" ng-click="closeSheet()" class="no-padding">
        <md-icon class="materials-icon">person_outline</md-icon>
        <p class="media-heading">My Profile</p>
      </md-list-item>
      <md-list-item ng-click="editProfileDialog($event); closeSheet();" class="no-padding">
        <md-icon class="materials-icon">settings</md-icon>
        <p class="media-heading">Settings</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="signOut(); closeSheet();" class="no-padding">
        <md-icon class="materials-icon">exit_to_app</md-icon>
        <p class="media-heading">Sign Out</p>
      </md-list-item>
    </md-list>
  </md-bottom-sheet>
</script>
